<!-- <div class="card mb-4" *ngIf="member">
    <div class="card-img-wrapper">
        <img src="{{member.photoUrl || './assets/user/png'}}" alt="{{member.knownAs}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button routerLink="/members/{{member.userName}}" class="btn btn-primary"><i class="fa fa-user"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fa fa-heart"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fa fa-envelope"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            <i class="fa fa-user me-2"></i>
            {{member.knownAs}}
        </h6>
        <p class="card-text text-muted text-center">{{member.city}}</p>
    </div>
</div> -->

<!-- CARD -->
<section>
    <div class="container">
    	<div class="row">
    		<div class="col" *ngIf="member">
    		    <div class="card profile-card-1">
    		        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knowAs}}" class="background"/>
    		        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knowAs}}" class="profile"/>
                    <div class="card-content">
                        <h2>{{member.knowAs}}
                            <span [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
                                •
                            </span>
                            <small>Age: {{member.age}}</small>
                        </h2>
                        <div class="icon-block">
                            <a routerLink="/members/{{member.userName}}">
                                <i class="fa fa-user"></i>
                            </a>
                            <a (click)="addLike(member)" > <i class="fa fa-heart"></i> </a>
                            <a 
                                routerLink="/members/{{member.userName}}"
                                [queryParams]="{tab: 'Messages'}"
                                ><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <h4 class="mt-3 w-100 float-left text-center"><strong>{{member.city}}</strong></h4>
    		</div>
    	</div>
    </div>
</section>